#fix-header.fix-header.prz
	.header.prz
		.w1200.prz
			a.logo.pra(href='#{settings.rootDir}') #{settings.WordLogo}
			ul.navigation.clearfix.pra
				li
					each item in navigation
						a.top-level(href='#{item.link}?id=#{item._id}&name=#{item.title}') #{item.title}
			a#search-button.search-button.iconfont.icon-search.pra(href='javascript:;')
			a#hamburger(href='#my-menu')
				span
		#search.search.pra
			.w1200
				.search-body.prz
					.body-waper.pra
						input.body-input(type='text', placeholder='请输入关键词')
					a.body-button.iconfont.icon-search.pra(href='javascript:;')